body{
 	background-color: #FAAF3D;
 	background-size: 100%;
 	border-image-repeat: no-repeat;
}

table{
-webkit-border-radius: 10px; 
-moz-border-radius: 10px; 
border-radius: 10px;
background-color: #FCF5a7;
opacity: 0.9;
}

td{
 border:0;	
}

th{
	margin-right: 20px;
}

.logo{
	width: 100px;
	height: 100px;
}

#subtitulo{
	color: blue;
	margin-top: 20px;
}

.titulo{
	font-family: "Pusab";
	text-align: center;
	font-size: 50px;
}

.opciones{
	width: 700px;
	height: 500px;
}

.menus{
	text-align: center;
	font-family: "Pusab";
	font-size: 20px;
	color: #8a1b8f;
}

.perfil{
	margin-top: 10px;
}

.submit{
	text-align: center;
}
