body {
    background-color: #7ABAFF;
    background-size: 100%;
    border-image-repeat: no-repeat;
}

table {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FCF5A7;
    opacity: 0.9;
}

td {
    border: 0;
}

th {
    margin-right: 20px;
}

#header {
    width: 960px;
    height: 90px;
    margin: 15px auto;
}

#logo {
    height: 100%;
    width: 600px;
    margin: 0 15px;
    border-radius: 10px;
    background-color: #FCF5A7;
    opacity: 0.9;
    float: left;
}

#infoNivel {
    background-color: #F57E00;
    height: 100%;
    width: 300px;
    margin: 0 15px;
    text-align: center;
    border-radius: 10px;
    float: left;
}

#subtitulo {
    color: blue;
    margin-top: 20px;
}

.titulo {
    font-family: "Pusab";
    text-align: center;
    font-size: 50px;
}

.opciones {
    width: 930px;
    height: 550px;
    background-color: #FCF5A7;
    margin: 15px auto;
    border-radius: 10px;
}

.menus {
    text-align: center;
    font-family: "Pusab";
    font-size: 20px;
    color: #8a1b8f;
}

.perfil {
    margin-top: 10px;
}

.submit {
    text-align: center;
}

#titulo {
    text-align: center;
    color: white;
    font-family: "Pusab";
    letter-spacing: 10px;
}

#indicadores {
    font-family: "Pusab";
    font-size: 20px;
}

#card {
    position: relative;
    top: 20px;
    height: 250px;
    width: 500px;
    background-color: #2866ec;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.9;
}

#texto {
    background-color: #2866ec;
    position: relative;
    top: 100px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 30px;
}

#indicaciones {
    height: 40px;
    width: 350px;
    position: relative;
    top: 20px;
    left: -325px;
    font-family: "Pusab";
    font-size: 20px;
}

#indi {
    position: relative;
    top: 30px;
}

#opcion1, #opcion2, #opcion3, #opcion4 {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 20px;
}

#opcion1 {
    height: 40px;
    width: 350px;
    position: relative;
    top: 35px;
    background-color: #f57e00;
}

#opcion2 {
    height: 40px;
    width: 350px;
    position: relative;
    top: 45px;
    background-color: #f57e00;
}

#opcion3 {
    height: 40px;
    width: 350px;
    position: relative;
    top: 55px;
    background-color: #f57e00;
}

#opcion4 {
    height: 40px;
    width: 350px;
    position: relative;
    top: 65px;
    background-color: #f57e00;
}
