body{
	background-image: url('../img/horizontal_lines.png');
	background-color: #7ABAFF;
	background-repeat: repeat;
}

#regreso{
    float: left;
    position: absolute;
    top: 10%;
}

td {
    border: 0;
}

th {
    margin-right: 20px;
}

#header {
    width: 960px;
    height: 90px;
    margin: 15px auto;
}

#logo {
    height: 100%;
    width: 600px;
    margin: 0 15px;
    border-radius: 10px;
    background-color: #FCF5A7;
    opacity: 0.9;
    float: left;
}

#infoNivel {
    background-color: #F57E00;
    height: 100%;
    width: 300px;
    margin: 0 15px;
    text-align: center;
    border-radius: 10px;
    float: left;
}

    #infoNivel h2 {
        height: 100%;
        width: 50%;
        float: left;
        font-family: "Pusab";
        text-align: center;
        font-size: 40px;
    }

#subtitulo {
    color: blue;
    margin-top: 20px;
}

.titulo {
    font-family: "Pusab";
    text-align: center;
    font-size: 50px;
}

.opciones {
    width: 930px;
    height: 500px;
    background-color: #FCF5A7;
    margin: 15px auto;
    border-radius: 10px;
    padding-top: 20px;
    overflow: auto;
}

.menus {
    text-align: center;
    font-family: "Pusab";
    font-size: 20px;
    color: #8a1b8f;
}

.perfil {
    margin-top: 10px;
}

.submit {
    text-align: center;
}

#titulo {
    text-align: center;
    color: white;
    font-family: "Pusab";
    letter-spacing: 10px;
}

#indicadores {
    font-family: "Pusab";
    font-size: 20px;
}

.opcion {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    background-color: #a3dced;
    width: 500px;
    height: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.descrip,.logro-icono{
    display: inline-block;
}


