body{
	background-image: url('../img/horizontal_lines.png');
	background-color: #7ABAFF;
	background-repeat: repeat;
}

table{
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    background-color: #FCF5a7;
    opacity: 0.9;
    text-align: center;
}

tr{
    width: 100%;
}

td{
    width: 100%;
    text-align: center;
    border:0;	
}

th{
    margin-right: 20px;
}

#direccion{
    font-size: small;
}

.datos{
    height: 200px;
    width: 700px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#usuario, #pass{
    margin-top: 10px;
    width: 500px;
    height: 40px;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    font-family: "Pusab";
    font-size: 36px;
}

#inicio{
    background-color: #1228B0;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    height: 50px;
    width: 200px;
    font-family: "Pusab";
    font-size: 25px; 
    color: #ededed;
}

.submit{
    width: 50%;
    text-align: center;
}

.perfil{
    font-family: "Pusab";
    text-align: center;
}

.titulo{
    font-family: "Comic Sans MS";
    font-size: 20px;
}

#imagen_perfil{
    height: 100px;
    width: 100px;
}

#acerca_de{
    background-color: #1228B0;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    height: 50px;
    width: 200px;
    font-family: "Pusab";
    font-size: 25px; 
    color: #ededed;
}

#creditos{
    position: absolute;
    bottom: 25px;
    align: center;
}