html {
    background: url('../img/back.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table{
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    background-color: #FCF5a7;
    opacity: 0.9;
    text-align: center;
}

tr{
    width: 100%;
}

td{
    width: 100%;
    text-align: center;
    border:0;	
}

th{
    margin-right: 20px;
}

#title{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

#direccion{
    font-size: small;
    position: relative;
}

.datos{
    height: 200px;
    width: 700px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#usuario, #pass{
    width: 500px;
    height: 40px;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 36px;
}

#inicio{
    background-color: #1228B0;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    height: 50px;
    width: 200px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px; 
    color: #ededed;
    position: relative;
    left: 200px;
}

.submit{
    width: 50%;
    text-align: center;
    position: relative;
    top: 10px;
}

.perfil{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.titulo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: left;
    position: relative;
    left: 100px;
}

#imagen_perfil{
    height: 100px;
    width: 100px;
}

#acerca_de{
    background-color: #1228B0;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    height: 50px;
    width: 200px;
    font-family: "Pusab";
    font-size: 25px; 
    color: #ededed;
}

#creditos{
   position: relative;
    top: 40px;
}