html {
    background: url('../img/back.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.table-question
{
    font-family: 'Patua One', cursive;
    font-size: 30px;
    padding: 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #FFE28A;
    position: absolute;
    top: calc(50% - 280px);
    left: calc(50% - 450px);
    width: 900px;
    height: 550px;
}

#title{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

.answer
{
    font-family: 'Patua One', cursive;
    font-size: 20px;
}

.answers
{
    font-family: 'Patua One', cursive;
    font-size: 15px;
    width: 100%;
    border-spacing: 2pt;
}

td{
    vertical-align: top;
    text-align: center;
}

.number
{
    background-color: #000;
    color: #fff;
    width: 25px;
}

.disp-answer
{
    background-color: #fff;
    width: 175px;
}

.achievement{
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
}

#correctas{
    font-size: 25px;
    text-align: right;
    display: inline-block;
}

.bonus-stuff{
    display:inline-block
}

#pregunta,#datos,#correctas{
    font-family: 'Lobster', cursive;
}

#datos{
    font-size: 15px;
}

#header{
    position: relative;
    left: 5%;
    width: 400px;
}

#nusuario{
    position: absolute;
    left: 250%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#lista{
    position: absolute;
    border-top: 30px;
    height: 60px;
    left: 5%;
    background-color: #124963;
    width: 90%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#lista td:hover{
    background-color: #62babb;
}

.seccion{
    vertical-align: middle;
}

#body{
    margin-top: 70px;
    width: 90%;
    height: 500px;
    background-color: #5eafb0;
    position: relative;
    left: 5%;
    background-color: #f5f3AB;
}

#tituloSeccion{
    position: relative;
    top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

#gpo{
    text-align: left;
    position: relative;
    left: 30px;
    top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#grupo{
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#generarPreguntas{
    text-align: left;
    position: absolute;
    left: 450px;
    top: 110px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#acepta{
    position: relative;
    top: -22px;
    left: 350px;
}

#alta{
    position: relative;
    left: 460px;
    top: 30px;
}

#preguntas{
    background-color: #f8f6c4;
    width: 90%;
    height: 68%;
    position: relative;
    top: 50px;
}

.descripcionPregunta{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#descrip{
    position: absolute;
    left: 100px;
    width: 300px;
    height: 50px;
}

#categoriaPregunta{
    position: absolute;
    top: 40px;
    left: 430px;
    width: 300px;
    height: 50px;
}

#categoria{
    position: relative;
    left: 550px;
    top: 50px;
}

#opcion1Text{
    text-align: left;
    position: relative;
    top: 30px;
}

#opcion2Text{
    text-align: left;
    position: relative;
    top: 50px;
}

#opcion3Text{
    text-align: left;
    position: absolute;
    left: 430px;
    top: 120px;
}

#opcion4Text{
    text-align: left;
    position: absolute;
    left: 430px;
    top: 210px;
}

#op1,#op2,#op3,#op4{
    width: 300px;
    height: 50px;
}

#op1, #op2{
    position: absolute;
    left: 100px;
}

#op3, #op4{
    position: absolute;
    left: 550px;
}

#op3{
    position: absolute;
    left: 520px;
    top: 140px;
}

#op4{
    position: absolute;
    left: 520px;
    top: 205px;
}

#respuesta{
    text-align: left;
    position: absolute;
    left: 90px;
}

#alta{
    position: absolute;
    top: 350px;
}

li{
     list-style: none;
}

a{
    color: white;
}

a:link{
    text-decoration: none;
}

