body
{
	/*background-image: url('images/grid_2.png');*/
	background-image: url('images/horizontal_lines.png');
	/*background-image: url('images/vertical_lines.png');*/
	background-color: #7ABAFF;
	background-repeat: repeat;
}

.card
{
	width: 400px;
	height: 560px;
	background-color: whitesmoke;
	position: absolute;
	top: calc(50% - 280px);
	left: calc(50% - 200px);
}

.question
{
	font-family: 'Patua One', cursive;
	font-size: 48px;
	height: 400px;
	width: 400px;
	padding: 24px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.table-question
{
    font-family: 'Patua One', cursive;
    font-size: 30px;
    padding: 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-color: #FFE28A;
    position: absolute;
    top: calc(50% - 280px);
    left: calc(50% - 450px);
    width: 900px;
    height: 550px;
}

.answer
{
    font-family: 'Patua One', cursive;
    font-size: 20px;
}

.answers
{
    font-family: 'Patua One', cursive;
    font-size: 15px;
    width: 100%;
    border-spacing: 2pt;
}

td{
    vertical-align: top;
    text-align: center;
}

.number
{
    background-color: #000;
    color: #fff;
    width: 25px;
}

.disp-answer
{
    background-color: #fff;
    width: 175px;
}

.achievement{
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
}