
<head>
    <title>Flashcards</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/preguntas.css" />
    <link rel="stylesheet" href="css/estadisticas.css" />
    <link rel="stylesheet" href="css/selecciona.css" />
    <script src="js/jquery-1.11.3.js" type="text/javascript"></script>
    <script src="js/estadisticas.js" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
</head>
<body>
    <div align=left id="header">
        <img src="img/small-logo.png"/> <label id="title">CEREBRATÓN</label>
        <label id="nusuario"> Bienvenido <%= usuario %></label>
    </div>
    <div id="menu">
        <table id="lista">
        <td class="seccion"><a href="/entrada">Inicio</a></td>
        <td class="seccion"><a href="perfilProfesor.ejs">Perfil</a></td>
        <td class="seccion"><a href="/grupos">Grupos</a></td>
        <td class="seccion"><a href="/agregarMaterial">Materiales</a></td>
        <td class="seccion seleccionado"><a href="/estadisticas">Estadisticas</a></td>
        </table>
    </div>
    <div id="body" align=center>
        <div id="tituloSeccion">
        Reporte de Resultados
        </div>
        <div id="inicial">
        <div id="gpo"> 
        Grupo: <select id="grupo">
        <% for(var i=0; i < grupos.length; i++) { %>
            <option value="<%= grupos[i].id_grupo%>"><%= grupos[i].nombre %></option>
        <% } %>
        </select><br />
        </div>
        <div id="generarPreguntas">
        <input type="submit" value="Seleccionar" id="acepta">
        </div>
        </div>
    <div id="preguntas" align=center></div>
    </div>
</body>