<head>
    <title>Flashcards</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/jquery-1.11.3.js" type="text/javascript"></script>
</head>
<body>
    <h1> Bienvenido <%= usuario %> </h1>
    <a href="registrarGrupo.html">Crear nuevo grupo</a><br />
    <a href="agregarPregunta">Agregar pregunta a grupo</a>
</body>