<head>
    <title>Flashcards - Admin</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/adminStyle.css" />
    <link rel="stylesheet" href="css/selecciona.css" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.11.3.js" type="text/javascript"></script>
</head>
<body>
	<div align=left id="header">
		<img src="img/small-logo.png"/> <label id="title">CEREBRATÓN</label>
        <label id="nusuario"> Bienvenido <%= usuario %> </label>
    </div>
    <div id="menu">
        <table id="lista">
        <td class="seccion seleccionado"><a href="administrador">Inicio</a></td>
        <td class="seccion"><a href="alumnos">Registrar Alumno</a></td>
        <td class="seccion"><a href="profesor">Registrar Profesor</a></td>
        <td class="seccion"><a href="asigAlum">Asignar Alumnos</a></td>
        <td class="seccion"></td>
        </table>
    </div>
    <div id="body" align=center>
        <div id="Tituloseccion"> Inicio </div>
        <div class="info" id="flashCard">
            Cerebrat&oacute;n
            <br>
            <p class="descripcionInfo" id="mision">
            La ense&ntilde;anza no es labor f&aacute;cil. Los cambios generacionales de los nuevos alumnos que se integran a las aulas, presenta nuevos desafios para los docentes. <b>Cerebrat&oacute;n</b> propone una solución para incorporar a estudiantes y docentes al uso de tecnolog&iacute;as educativas desde niveles de educaci&oacute;n b&aacute;sica; ahora  la educaci&oacute;n y la inovaci&oacute;n tecnolog&iacute;ca crecen juntas. 
        </div>
        <div class="info" id="infoPerfil">
            Profesores
            <br>
            <p class="descripcionInfo" id="mision"> Administra a los profesores que forman parte de tu planta de docente.
            </p>
        </div>
        <div class="info" id="infoGrupos">
            Alumnos
            <br>
            <p class="descripcionInfo" id="mision"> Registra a cualquier nuevo alumno dentro de la instituci&oacute;n y asigna los grupos en los que se encuentra participando.
            </p>
        </div>
    </div>
</body>