<head>
    <title>Flashcards</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/jquery-1.11.3.js" type="text/javascript"></script>
</head>
<body>
    <div id="inicial">
    <form action="/subirMaterial" method="POST" enctype="multipart/form-data">
        Grupo: <select id="grupo" name="grupo">
            <% for(var i=0; i < grupos.length; i++) { %>
                <option value="<%= grupos[i].id_grupo%>"><%= grupos[i].nombre %></option>
            <% } %>
        </select><br />
        Nombre: <input type="text" id="nombre" name="nombre" maxlength="20"/> <br />
        Descripci&oacute;n:<br /> <textarea id="descripcion" name="descripcion" rows="5"></textarea><br />
        Archivo: <input type="file" id="archivo" name="archivo" /><br />
        Fecha de inicio: <input type="date" id="inicio" name="inicio" /><br />
        Fecha de fin: <input type="date" id="fin" name="fin" /><br />
        <input type="submit" value="Aceptar" id="acepta" />
    </form>
    </div>
    <div id="preguntas"></div>
</body>